@mixin for-desktop{
    @media (min-width:1025px){
        @content;
    }
}
@mixin for-ipadPortrait{
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
        @content;
    }
}
@mixin for-ipad{
    @media (min-width:768px) {
        @content;
    }
}
@mixin for-mobile{
    @media (max-width:767px){
        @content;
    }
}
@mixin for-mobile-320{
    @media (max-width:320px){
        @content;
    }
}
@mixin position($position, $top:null, $right:null, $bottom:null, $left:null) {
    position:$position;
    bottom:$bottom;
    right:$right;
    left:$left;
    top:$top;
}
@mixin transition($transition...){
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
}
@mixin border-radius($top-left:null, $top-right:null, $bottom-right:null, $bottom-left:null){
    -webkit-border-radius:$top-left $top-right $bottom-right $bottom-left;
    -moz-border-radius:$top-left $top-right $bottom-right $bottom-left;
    -ms-border-radius:$top-left $top-right $bottom-right $bottom-left;
    border-radius:$top-left $top-right $bottom-right $bottom-left;  
}
@mixin fadeInUp{
    -webkit-animation:fadeInUpList 0.5s ease forwards;
    -moz-animation:fadeInUpList 0.5s ease forwards;
    -ms-animation:fadeInUpList 0.5s ease forwards;
    -o-animation:fadeInUpList 0.5s ease forwards;
    animation:fadeInUpList 0.5s ease forwards;
}