@use '../../styles/index.scss' as *;
.footer{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:1.8rem;
  background-color:$color-f9f9f9;
  border-top:.1rem solid $color-5b5b5c;
  @extend .p-2, .mt-2;
  text-align:center;
  b{
    font-weight:500;
    color:$color-5b5b5c;
  }
  a{
    color:$color-1276d7;
  }
}
