@use '../../styles/index.scss' as *;
.about{
  color:$color-000000;
  @extend .p-2;
  h5{
    font-style:italic;
    font-size:2.4rem;
    @extend .mb-1;
  }
  a{
    color:$color-1276d7;
    font-size:1.8rem;
  }
}
